/*
$light-red: #ff4949;
$dark-red: #c10000;
$dark-grey: #dedede;
$light-grey: #eeeeee;
$font: #080808;
*/


body {
	margin: 0;
	padding: 0;
	border: 0;
	background-color: #eeeeee;
    color: #080808;
    text-align: center;
}

h1 {
	font-size: 3em;
	padding: 0;
	margin: 0;
}

#artboard {
   width: 80vmin;
   height: 80vmin;
   margin: 0 auto;
   display: grid;
   background: white;
}

.square {
	margin: 0;
	padding: 0;
    border: 1px solid black;
	}

.black {
	background-color: black;
}

button {
	width: 10vmin;
	height: 5vmin;
	background-color: #dedede;
	border: 0;
	margin: 1em;
	border-radius: 20px;
}

button:hover {
	background-color: #c10000;
}